<style>
    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    a:active {
        text-decoration: underline;
    }
    }
</style>
{{>headerprincipal}}
<section class="categorias">
    <div class="contenedor">



        <div>
            {{!-- <form method="POST" action="./maps"> --}}
            <button onclick="alertas()" type="submit" class="btn btn-primary" id="Descubre">
                <a style="text-decoration: none; color:black" href="https://travelwell-dc98b.web.app/"><strong>Descubre</strong></a>
                <br> ver mapa interactivo con lugares a descubrir
            </button>
            {{!-- </form> --}}
        </div>

        <div>
            <form method="POST" action="./agenda">
                <button onclick="abriragenda()" action="./agenda" type="submit" class="btn btn-primary"
                    id="Agenda"><strong> <a href="./agendas"></a>
                        sitios</strong>
                    <br> Observa los sitios que hemos encontrado como posibles destinos a tu viaje
                </button>
            </form>
        </div>

        <div>
            <form method="POST" action="./paquetes">
                <button onclick="" type="submit" class="btn btn-primary" id="Paquetes"><strong>Agendas</strong>
                    <br> Administra tiempo y recursos con la agenda interactiva
                </button>
            </form>
        </div>


    </div>

</section>

{{>registrar}}


{{>footer}}