{{header3}}
 <main role="main">

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="img/1.jpg">
              <div class="card-body">
                <p class="card-text"> <b>El Encanto</b> </p>
                <p class="card-text">A 1 km de Florencia, la piedra grabada de “El Encanto” es un enorme petroglifo con
                  figuras de serpientes, lagartos y micos que se encuentra en el Colegio Nacional la Salle, Cra 4 Cl 15
                  Barrio el Torasso..</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>

                  </div>
                  <a href="Formulario.html" class="btn btn-secondary my-2">Agenda</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">

              <img src="img/2.jpg">


              <div class="card-body">
                <p class="card-text"> <b>Cascada Anayacito</b> </p>

                <p class="card-text">La cascada está ubicada aproximadamente a tres horas de Florencia, este lugar
                  mágico brinda al turista los mejor de los colores verdes, aguas cristalina.</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">

                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>



                  </div>
                  <a href="Formulario.html" class="btn btn-secondary my-2">Agenda</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">

              <img src="img/3.jpg">


              <div class="card-body">
                <p class="card-text"> <b>Parque los picachos</b> </p>

                <p class="card-text">La cascada está ubicada aproximadamente a tres horas de Florencia, este lugar
                  mágico brinda al turista los mejor de los colores verdes, aguas cristalina.</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">

                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>



                  </div>
                  <a href="Formulario.html" class="btn btn-secondary my-2">Agenda</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">

              <img src="img/4.jpg">


              <div class="card-body">
                <p class="card-text"> <b>Las dalias</b> </p>

                <p class="card-text">La cascada está ubicada aproximadamente a tres horas de Florencia, este lugar
                  mágico brinda al turista los mejor de los colores verdes, aguas cristalina.</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">

                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>



                  </div>
                  <a href="Formulario.html" class="btn btn-secondary my-2">Agenda</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">

              <img src="img/5.jpg">


              <div class="card-body">
                <p class="card-text"> <b>Reserva el danubio</b> </p>

                <p class="card-text">La cascada está ubicada aproximadamente a tres horas de Florencia, este lugar
                  mágico brinda al turista los mejor de los colores verdes, aguas cristalina.</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">

                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>



                  </div>
                  <a href="Formulario.html" class="btn btn-secondary my-2">Agenda</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">

              <img src="img/6.jpg">


              <div class="card-body">
                <p class="card-text"> <b>Cueva los guacharos</b> </p>

                <p class="card-text">La cascada está ubicada aproximadamente a tres horas de Florencia, este lugar
                  mágico brinda al turista los mejor de los colores verdes, aguas cristalina.</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">

                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>



                  </div>
                  <a href="Formulario.html" class="btn btn-secondary my-2">Agenda</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">

              <img src="img/7.jpg">


              <div class="card-body">
                <p class="card-text"> <b>Cañon del araracuara</b> </p>

                <p class="card-text">La cascada está ubicada aproximadamente a tres horas de Florencia, este lugar
                  mágico brinda al turista los mejor de los colores verdes, aguas cristalina.</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">

                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>



                  </div>
                  <a href="Formulario.html" class="btn btn-secondary my-2">Agenda</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">

              <img src="img/8.jpg">


              <div class="card-body">
                <p class="card-text"> <b>Balneario las pailas</b> </p>

                <p class="card-text">La cascada está ubicada aproximadamente a tres horas de Florencia, este lugar
                  mágico brinda al turista los mejor de los colores verdes, aguas cristalina.</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">

                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>



                  </div>
                  <a href="Formulario.html" class="btn btn-secondary my-2">Agenda</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">

              <img src="img/9.jpg">


              <div class="card-body">
                <p class="card-text"> <b>Divino niño</b> </p>

                <p class="card-text">La cascada está ubicada aproximadamente a tres horas de Florencia, este lugar
                  mágico brinda al turista los mejor de los colores verdes, aguas cristalina.</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">

                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>



                  </div>
                  <a href="Formulario.html" class="btn btn-secondary my-2">Agenda</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Regresar </a>
      </p>


    </div>

    {{>footer}}