<<<<<<< HEAD:src/views/agenda/index.hbs
{{header3}}
 <main role="main">

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="img/1.jpg">
              <div class="card-body">
                <p class="card-text"> <b>El Encanto</b> </p>
                <p class="card-text">A 1 km de Florencia, la piedra grabada de “El Encanto” es un enorme petroglifo con
                  figuras de serpientes, lagartos y micos que se encuentra en el Colegio Nacional la Salle, Cra 4 Cl 15
                  Barrio el Torasso..</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
=======
<!doctype html>
<html lang="en">

<head>

  <!-- firestore -->
  <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-firestore.js"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v4.1.1">
  <title>Agenda</title>


  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="css/fontawesome.min.css">
  <link rel="stylesheet" href="./css/estilos.css">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="album.css" rel="stylesheet">
</head>

<body>
>>>>>>> 8d08b79c8deedaeb3f0365ecdd52414711d6cbeb:public/agenda.html




  </div>

  <header>
    <div class="contenedor">
      <nav class="menu">
        <a href="index.html">Inicio</a>
        <a href="nosotros.html">Nosotros</a>
        <a href="galeria.html">Galeria</a>
        <a href="login.html">Iniciar sesión</a>
      </nav>


    </div>

    <div class="contenedor">


    </div>


  </header>


  <main role="main">

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png" alt="" width="347" height="301" /></p>
              <div class="card-body">
                <p class="card-text"> <b>El Encanto</b> </p>
                <p class="card-text">A 1 km de Florencia, la piedra grabada de “El Encanto” es un enorme petroglifo con
                  figuras de serpientes, lagartos y micos que se encuentra en el Colegio Nacional la Salle, Cra 4 Cl 15
                  Barrio el Torasso..</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>

                  </div>
                  <a href="Formulario.html" class="btn btn-secondary my-2">Agenda</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="img/1.jpg">
              <div class="card-body">
                <p class="card-text"> <b>El Encanto</b> </p>
                <p class="card-text">A 1 km de Florencia, la piedra grabada de “El Encanto” es un enorme petroglifo con
                  figuras de serpientes, lagartos y micos que se encuentra en el Colegio Nacional la Salle, Cra 4 Cl 15
                  Barrio el Torasso..</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>

                  </div>
                  <a href="Formulario.html" class="btn btn-secondary my-2">Agenda</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">

              <img src="img/9.jpg">

              <div class="card-body">
                <p class="card-text"> <b>Divino niño</b> </p>
                <p class="card-text">La cascada está ubicada aproximadamente a tres horas de Florencia, este lugar
                  mágico brinda al turista los mejor de los colores verdes, aguas cristalina.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                  </div>
                  <a href="Formulario.html" class="btn btn-secondary my-2">Agenda</a>
                </div>
              </div>
            </div>
          </div>


          <div id="tabla">


            
          </div>


        </div>
      </div>
    </div>

  </main>



  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Regresar </a>
      </p>


    </div>
<<<<<<< HEAD:src/views/agenda/index.hbs

    {{>footer}}
=======
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

  <script src="app.js"></script>

</html>
>>>>>>> 8d08b79c8deedaeb3f0365ecdd52414711d6cbeb:public/agenda.html
