{{>header2}}
 <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1>Album Travelwell</h1>
        <p class="lead text-muted">Te invitamos a conocer un poco mas nuestros destinos en esta galeria hecha
          especialmente para ti.</p>
      </div>
    </section>

    <div class="album py-5 bg-light" id="album">
      <div class="container">

        <div class="row">


          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="./img/galeria/elencanto.jpeg" alt="">
              <img src="" alt="">
              <div class="card-body">
                <p class="card-text">El encanto.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ampliar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="./img/galeria/anayasito.jpeg" alt="">
              <img src="" alt="">
              <div class="card-body">
                <p class="card-text">cascada anayacito.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ampliar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="./img/galeria/parquepicachos.jpeg" alt="">
              <img src="" alt="">
              <div class="card-body">
                <p class="card-text">Parque los picachos.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ampliar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="./img/galeria/lasdalias.jpeg" alt="">
              <img src="" alt="">
              <div class="card-body">
                <p class="card-text">Las dalias</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ampliar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="./img/galeria/reservadanubio.jpeg" alt="">
              <img src="" alt="">
              <div class="card-body">
                <p class="card-text">Reserva el danuvio.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ampliar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="./img/galeria/guacharos.jpeg" alt="">
              <img src="" alt="">
              <div class="card-body">
                <p class="card-text">Cueva de los guacharos.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ampliar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="./img/galeria/ca単onarauara.jpeg" alt="">
              <img src="" alt="">
              <div class="card-body">
                <p class="card-text">Ca単on araracuara.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ampliar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="./img/galeria/laspailas.jpeg" alt="">
              <img src="" alt="">
              <div class="card-body">
                <p class="card-text">Las pailas.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ampliar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="./img/galeria/santuariodivinoni単o.jpeg" alt="">
              <img src="" alt="">
              <div class="card-body">
                <p class="card-text">Santuario Divino ni単o.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ampliar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

         
  </main>
{{>footer}}