<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/">Travelwell</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
        data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <form class="form-inline my-2 my-lg-0  " method="POST" action="/a">
                <a class="nav-link" href="/cerrarsesion">Salir</a>
            </form>
        </li>
    </ul>
</nav>


    <div class="row">
            <div class="sidebar-sticky pt-3"> 
                <ul class="nav flex-row">
                    <li>
                        
                        <a href="./admin2"><button class="btn btn-info" type="submit" id="boton">Agendas</button></a>
                    </li>

                </ul>
        </div>
    </div>

<div class="container">

    <h1>Agregar sitio</h1>

    <form method="POST" action="/admin">
        <input name="nombre" type="text" id="nombre" placeholder="nombre" class="form-control my-3">
        {{!-- <input type="text" id="imagen" placeholder="imagen" class="form-control my-3"> --}}
        <input name="descripcion" type="text" id="brevedescripcion" placeholder="brevedescripcion"
            class="form-control my-3">
        <button class="btn btn-info" type="submit" id="boton">Agregar</button>
    </form>

    <br>
    <br>

    <table name="tabla" class="table">
        <thead>
            <tr>
                {{!-- <th scope="col">id</th> --}}
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
            </tr>
        </thead>

        <tbody>
            {{#each sitiosagregados}}
            
            <tr>
                {{!-- <th scope="row"></th> --}}
                <td>{{nombres}}</td>
                <td>{{descripciones}}</td>

            </tr>
            {{/each}}
        </tbody>
    </table>

</div>
<br>
<br>

{{>footer}}