<section class="contactos" name="registro" id="registro">

   <div class="contenedor" class="formulario">

      <form method="POST" action="/contactos">

         <h3 class="titulo">CONTACTENOS</h3>
         <input type="text" placeholder="nombre" name="nom" required>
         <input type="email" placeholder="correo" name="correo" required>
         <input  type="text" placeholder="escribenos tu inquietud" name="inquietud" required>
         {{!-- <textarea  class="areacontacto" name="mensaje" placeholder="escribenos tu inquietud porfavor"></textarea> --}}
         
         <br>
         <button type="submit" class="botonenviar">ENVIAR</button>
      </form>
   </div>

</section>