    <footer>

        <section class="redes">
            <div class="textofooter">TODOS LOS DERECHOS RESERVADOS</div>
            <div class="textofooter">Desarrollado por: Oscar E. Rodirguez -  Juan S. Galindo </div>
            {{!-- <div class="contenedor">
                <a href="" class="Facebook"><i class="fa fa-facebook-official"></i></a>
                <a href="" class="youtube"><i class="fa fa-youtube"></i></a>
                <a href="" class="whatssatp"><i class="fa fa-whatsapp"></i></a>
            </div> --}}
        </section>

    </footer>