    <header>
        <div class="contenedor">
            <nav class="menu">

                <a href="/">Inicio</a>
                <a href="./nosotros">Nosotros</a>
                <a href="./galeria">Galeria</a>
                <a href="./contactos">Contactos</a>
                <a href="#registro">Registrarse</a>
                <a href="./login">Iniciar sesión</a>

            </nav>

            <div class="contenedor-nombre">
                <div class="nombrelogo">

                    <h3>Conoce el caquetá</h2>
                        <h1>TRAVEL WELL</h1>
                        <h3>Guia del turista</h2>
                            <!-- <img src="./img/travel.png" alt="" width="100px" height="80px"> -->
                </div>
            </div>
        </div>

    </header>