 <header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        </a>
        <div class="contenedor">
          <nav class="menu">
            <a href="/">Inicio</a>
            <a href="./nosotros">Nosotros</a>
            <a href="./galeria">Galeria</a>
            <a href="/">Iniciar sesión</a>
          </nav>
        </div>

      </div>
    </div>
  </header>