  <section class="contactos" name="registro" id="registro"> 

     <div class="contenedor" class="formulario">

        <form method="POST" action="/logina">

        <h3 class="titulo">INICIO SESIÓN</h3>
        <input id="emailUser" type="email" placeholder="CORREO" name="email"  >
        <input id="passUser" type="password" placeholder="CONTRASEÑA" name="contra" >
        <br>
        <button type="submit"  class="botonenviar">INICIAR</button> 
        </form>
     </div> 

 </section>